<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipmentmanagementsystem.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.equipmentmanagementsystem.pojo.entity.Category">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createUser" column="createUser" jdbcType="BIGINT"/>
            <result property="updateUser" column="updateUser" jdbcType="BIGINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        createUser,updateUser,isDelete,
        createTime,updateTime
    </sql>
    <update id="update">
        update category
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="isDelete != null">
                isDelete = #{isDelete},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="updateUser != null">
                updateUser = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="pageQuery" resultType="com.equipmentmanagementsystem.pojo.vo.CategoryVO">
        SELECT
        c.id,
        c.name,
        c.description,
        cu.userName AS createUserName,
        uu.userName AS updateUserName,
        c.createTime,
        c.updateTime
        FROM
        category c
        LEFT JOIN
        user cu ON c.createUser = cu.id
        LEFT JOIN
        user uu ON c.updateUser = uu.id
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            AND c.isDelete = 0
        </where>
        ORDER BY c.createTime
    </select>
    <select id="getAllCategory" resultType="com.equipmentmanagementsystem.pojo.vo.AllCategoryVO">
        select id,name from category
        where isDelete = 0
    </select>
</mapper>
